/* --------------------------
  Base
--------------------------- */

svg {
	margin: auto;
  display: block;
}

/* --------------------------
  Keyframes
--------------------------- */

@keyframes grow {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.0);
  }
  60% {
    transform: scale(0.8);
  }
}

/* --------------------------
  SVG Styles
--------------------------- */

#tekuma-logo {
  padding-bottom: 20px;
}

.badge * {
  transform-origin: 50% 50%;
}

.outer,
.logoanimation,
.inline {
  animation: grow 3s ease-out backwards;
}

.logoanimation {
  fill: #fff;
  animation-delay: .5s;
  transform-origin: 50% 50%;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}

.logoanimation:hover {
  stroke: #ec167c;
}


.inline {
  animation-delay: .15s;
}

.logowrap {
  width: 50%;
  margin: auto;
}
